body{
  background-color: #171717;
}

#movies img, #movie img{
  width:60%;
}

@media(min-width:960px){
  #movies .col-md-3 .well{
    height: 390px;
  }

  #movies .col-mid-3 img{
    height:240px;
}
}

ul {
  list-style-type: none;  /*Remove Bullets from ul*/
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.active {
  background-color: #4CAF50;
}

.padding-16{padding-top:16px!important;padding-bottom:16px!important}.padding-24{padding-top:24px!important;padding-bottom:24px!important}
.padding-32{padding-top:32px!important;padding-bottom:32px!important}.padding-48{padding-top:48px!important;padding-bottom:48px!important}


footer{
  position: absolute;
  bottom: 0;
  background: #333;
  color: #fff;
  width: 100vw;
}

footer a,footer a:hover{
  text-decoration: none;
  color: #ffc107 ;
}